<div class="container">

    <header class="display-4 text-center">
        Despensa
    </header>

    <app-pantry-form></app-pantry-form>

    <div class="display-6">
        Alimentos Cadastrados:
    </div>
    
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table" id="foodsTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Calorias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Batata</td>
                        <td>Legume</td>
                        <td>78,50 Kcal</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Batata Doce</td>
                        <td>Legume</td>
                        <td>78,50 Kcal</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Frango</td>
                        <td>Carne</td>
                        <td>239 Kcal</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Abacaxi</td>
                        <td>Fruta</td>
                        <td>239 Kcal</td>
                    </tr>

                    <tr>
                        <th scope="row">5</th>
                        <td>Pepino</td>
                        <td>Legume</td>
                        <td>239 Kcal</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>