<div class="container">

    <div class="display-6">
        Formulário de Cadastro:
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form id="formProduct">
                <div class="row mb-3 mt-3">
                    <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputCalories" class="col-sm-2 col-form-label">Calorias:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputCalories">
                    </div>

                    <span class="col-sm-2 col-form-label">Categoria:</span>
                    <div class="col-sm-4" id="selectCategories">
                        <select class="form-select" aria-label="Select Categories">
                            <option value="" selected>Escolha:</option>
                            <option value="1">Legume</option>
                            <option value="2">Vegetal</option>
                            <option value="3">Fruta</option>
                            <option value="3">Carne</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>