<div class="">

    <div class="display-6 mt-2">
        Formulário de Cadastro de Alimentos:
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form [formGroup]="formGroupFood" ngFormFood="ngForm">

                <div *ngIf="food.id" class="row mb-3 mt-3">
                    <label for="inputId" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="id" id="inputId" formControlName="id">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="name" id="inputDescription">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputCalories" class="col-sm-2 col-form-label">Calorias:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" formControlName="calories" id="inputCalories">
                    </div>

                    <span class="col-sm-2 col-form-label">Categoria:</span>
                    <div class="col-sm-4" id="selectCategories">
                        <select class="form-select" formControlName="category" aria-label="Select Categories">
                            <option value="" selected>Escolha:</option>
                            <option *ngFor="let cat of categories" [ngValue]="cat">
                                {{cat.description}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success" (click)="save()">Cadastrar</button>
                        <button type="button" class="btn btn-danger ms-2" (click)="cancel()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>